body {
  font-family: Arial, sans-serif;
}

.navbar {
  padding: 20px;
}

.hero {
  margin: 50px;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cards {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

.card {
  width: 200px;
  text-align: center;
}
